<ion-view title="Acerca de">
  <ion-header-bar class="bar">
    <button class="button button-icon icon ion-navicon" ng-click="toggleLeft()"></button>
    <h1 class="title">Bluelytics</h1>
  </ion-header-bar>
  <ion-content>
  
<div class="list card precios" ng-repeat="dolar in dolares |filter:dolar_activo:true">
  <div class="item tabs tabs-secondary tabs-icon-left">
    <span class="tab-item">
      Compra
    </span>
    <span class="tab-item">
      {{dolar.compra | number:2}}
    </span>
    <span class="tab-item">
      <i class="icon" ng-class="{ 'ion-arrow-graph-down-right': (dolar.compra_dif < 0), 'ion-arrow-graph-up-right': (dolar.compra_dif > 0), 'ion-minus-round': (dolar.compra_dif == 0)}"></i>
            {{dolar.compra_dif | number:2}}
    </span>
    </div>

  <div class="item tabs tabs-secondary tabs-icon-left">
    <span class="tab-item">
      Intermedio
    </span>
    <span class="tab-item">
      {{dolar.avg | number:2}}
    </span>
    <span class="tab-item">
      <i class="icon" ng-class="{ 'ion-arrow-graph-down-right': (dolar.avg_dif < 0), 'ion-arrow-graph-up-right': (dolar.avg_dif > 0), 'ion-minus-round': (dolar.avg_dif == 0)}"></i>
            {{dolar.avg_dif | number:2}}
    </span>
    </div>

  <div class="item tabs tabs-secondary tabs-icon-left">
    <span class="tab-item">
      Venta
    </span>
    <span class="tab-item">
      {{dolar.venta | number:2}}
    </span>
    <span class="tab-item">
      <i class="icon" ng-class="{ 'ion-arrow-graph-down-right': (dolar.venta_dif < 0), 'ion-arrow-graph-up-right': (dolar.venta_dif > 0), 'ion-minus-round': (dolar.venta_dif == 0)}"></i>
            {{dolar.venta_dif | number:2}}
    </span>
    </div>

  </div>

  <div ng-repeat="dolar in dolares | filter:esBlue">
      <button class="button button-block" ng-class="{ 'button-positive': (dolar.name == dolar_activo), 'button-stable': (dolar.name != dolar_activo)}" ng-click="cambiarDolar(dolar.name)">
        {{dolar.long_name}}
      </button>
  </div>

  
  <div ng-repeat="dolar in dolares | filter:esOficial">
      <button class="button button-block" ng-class="{ 'button-balanced': (dolar.name == dolar_activo), 'button-stable': (dolar.name != dolar_activo)}" ng-click="cambiarDolar(dolar.name)">
        {{dolar.long_name}}
      </button>
  </div>

  </ion-content>
</ion-view>
