<ion-view title="Evolucion">
  <ion-content>
    <div ng-if="loadingNew==true" class="center">
      <i class="icon ion-loading-a big-loading"></i>
    </div>
    <div ng-if="dataStatus=='loaded'">

        <div class="row table-header">
          <span class="col">
            Fecha
          </span>
          <span class="col">
            Oficial
          </span>
          <span class="col">
            Blue
          </span>
          <span class="col">
            Brecha
          </span>
        </div>

        <ion-scroll style="height: {{windowHeight - 150}}px">
          <div class="row table-row" ng-repeat="valor in valores">
            <span class="col">
              {{valor.date | date:'dd/MM/yy'}}
            </span>
            <span class="col color-oficial">
              {{valor.oficial |number:2}}
            </span>
            <span class="col color-blue">
              {{valor.blue |number:2}}
            </span>
            <span class="col">
              {{((valor.blue - valor.oficial) / valor.oficial) * 100 |number:2}}%
            </span>
          </div>
        </ion-scroll>


    </div>

    <div ng-if="dataStatus=='error'">

      <div class="row">
        <div class="col">
          <p style="text-align:center;">Error de conexion con el servidor</p>
          <button class="button button-block button-default" ng-click="loadData()">
            Reintentar <i class="icon ion-refresh"></i>
          </button>
        </div>
      </div>
    </div>

  </ion-content>
</ion-view>
