<ion-view title="Brecha">
  <ion-content>
    <div ng-if="loadingNew==true" class="center">
      <i class="icon ion-loading-a big-loading"></i>
    </div>
    <div ng-if="dataStatus=='loaded'">

      <div class="list list-inset">
        <label class="item item-input">
          <i class="icon ion-social-usd placeholder-icon"> (USD)</i>
          <input class="right" type="number" ng-model="valorCompare" min="0" ng-change="update_ext()">
        </label>
      </div>

      <div class="list">

        <div class="item item-divider">
          <h2> Oficial vs Blue </h2>
        </div>
        <div class="item">
          <div class="row">
            <div class="col col-75">Diferencia absoluta</div>
            <div class="col right"><b>AR$ {{valorCompare * gap(valorDolarOficial, valorDolarBlue) |number:2}}</b></div>
          </div>

        </div>
        <div class="item">
          <div class="row">
            <div class="col col-75">Diferencia relativa</div>
            <div class="col right"><b>{{ percFormat(percGap(valorDolarOficial, valorDolarBlue))  }}</b></div>
          </div>
        </div>

        <div class="item item-divider">
          <h2> Ahorro (+20%) vs Blue </h2>
        </div>
        <div class="item">
          <div class="row">
            <div class="col col-75">Diferencia absoluta</div>
            <div class="col right"><b>AR$ {{valorCompare * gap(valorDolarAhorro, valorDolarBlue) |number:2}}</b></div>
          </div>
        </div>

        <div class="item">
          <div class="row">
            <div class="col col-75">Diferencia relativa</div>
            <div class="col right"><b>{{ percFormat(percGap(valorDolarAhorro, valorDolarBlue))  }}</b></div>
          </div>
        </div>

        <div class="item item-divider">
          <h2> Turista (+35%) vs Blue </h2>
        </div>
        <div class="item">
          <div class="row">
            <div class="col col-75">Diferencia absoluta</div>
            <div class="col right"><b>AR$ {{valorCompare * gap(valorDolarTarjeta, valorDolarBlue) |number:2}}</b></div>
          </div>
        </div>

        <div class="item">
          <div class="row">
            <div class="col col-75">Diferencia relativa</div>
            <div class="col right"><b>{{ percFormat(percGap(valorDolarTarjeta, valorDolarBlue))  }}</b></div>
          </div>
        </div>

      </div>

    </div>

    <div ng-if="dataStatus=='error'">

      <div class="row">
        <div class="col">
          <p style="text-align:center;">Error de conexion con el servidor</p>
          <button class="button button-block button-default" ng-click="loadData()">
            Reintentar <i class="icon ion-refresh"></i>
          </button>
        </div>
      </div>
    </div>

  </ion-content>
</ion-view>
