<ion-tabs class="tabs-positive tabs-icon-only tabs-icon-top">

  <ion-tab title="Cotización" icon-on="ion-social-usd" href="#/" icon-off="ion-social-usd-outline" href="#/tab/rates">
    <ion-nav-view name="tab-rates"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Calculadora" icon-on="ion-ios7-calculator" icon-off="ion-ios7-calculator-outline" href="#/tab/calc">
    <ion-nav-view name="tab-calc"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Evolucion" icon-on="ion-ios7-analytics" icon-off="ion-ios7-analytics-outline" href="#/tab/evolution">
    <ion-nav-view name="tab-evolution"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Brecha" icon-on="ion-ios7-barcode" icon-off="ion-ios7-barcode-outline" href="#/tab/gap">
    <ion-nav-view name="tab-gap"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Info" icon-on="ion-ios7-help" icon-off="ion-ios7-help-outline" href="#/tab/about">
    <ion-nav-view name="tab-about"></ion-nav-view>
  </ion-tab>

</ion-tabs>
